*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'monserrat', sans-serif;
}
.container{
    width: 100%;
    background-color: white; 
    margin: 50px auto;
}
.wrapper{
    width: 100vw;
    color: white;
   }
 
   .navbar{
    display: flex;
    background-color: aquamarine;
    width: 100%;
    position: fixed;
    top: 0;
    left: o;
}
.menu{
    display: flex;
    width: 40%;
    justify-content: space-around;
}
.menu li{
    list-style: none;
    
}
.menu a{
    color: black;
    text-decoration: none;
}

.menu a:hover{
background-color: rgb(108, 158, 160);
transition: ease-in .3s
}
.main__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    max-width: 1024px;
    margin: auto;
}

.Collection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}




